<a class= "ui green button" href={{path('store.allProducts')}}>Parcourir le store({{nbproduits}} produits)</a>
<hr>
<div class="ui cards">
    {% for section in sections %}
    <div class="card">
        <div class="content">
            <div class="header">{{section.name}}</div>
            <div class="description">
                {{section.description}}
            </div>
        </div>
        <a class="ui bottom attached button" href={{path('store.section', [section.id])}}>
            <i class="add icon"></i>
            Consulter produits ({{section.getProducts|length}})
        </a>
    </div>
    {%endfor%}
</div>