<!--View associated to index action of TodosController controller -->
<div class="ui container">
    <h2 class="ui inverted header" style="padding-top: 50px">
        <i class="ol list icon"></i>
        <div class="content">
            Liste active
            <div class="sub header">Gestion des items</div>
        </div>
    </h2>

    <div class="ui attached black inverted segment">

    </div>
    <div class="ui attached inverted segment">
        <div class="item">
            <form class="ui inline inverted form" action="todos/add/" method="post">
                <div class="field _form">
                    <input placeholder="Nouvel élément" name="elm">
                </div>
            </form>
        </div>
    </div>
    <h1 class="ui center aligned icon header inverted disabled">
        <i class="huge circular sticky tasks icon"></i>
        Todo lists
    </h1>
</div>